.HomePage {
  text-align: center;
}

.HomePage-logo {
  height: 40vmin;
  pointer-events: none;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .HomePage-logo {
    animation: HomePage-logo-spin 2s;
  }
}

.HomePage-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.HomePage-header > p{
  margin-top: 400px;
}

.HomePage-link {
  color: #61dafb;
}

@keyframes HomePage-logo-spin {
  from {
    margin-top: 1000px;
  }
  to {
    margin-top: 0;
  }
}
